.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page.js-show {
    opacity: 1;
}

.page {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    z-index: 1;
}

.page_hd {
    padding: 40px;
}

.page_hd_medium{
    text-align: left;
}

.page_title {
    text-align: left;
    font-size: 30px;
    font-weight: 500;
}

.button-sp-area{
    margin:0 auto 0 auto;
    padding: 15px 0;
    width: 60%;
}

